/certs/
/data/
/mnt/
/keys/
/.uuid
/docker-compose.yml
/bin/restic-*
!/bin/restic-client
!/bin/restic-server
!/bin/restic-example
/.env
/.env-*
/.rclone-*
/.htpasswd-*
/restic-*.cmd
/rclone-config
/*.tar.gz
