version: '2.3'

services:

  host1:
    extends:
      file: docker-compose.base.yml
      service: rclone
    environment:
      - AUTH_USERNAME=admin
      - AUTH_PASSWORD=admin
      - NAME=host1
      - DOMAIN=backups.example.com
      - FAST_LIST=1
      # - APPEND_ONLY=
      - "SERVE_PARAMS=remote:bucket/host1/"
    ports:
      - 127.0.0.1:8001:8080
    volumes:
      - "./keys:/keys:ro"
      - "./keys/rclone-config:/home/rclone/.config/rclone/rclone.conf"
